.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4);
  background-color: var(--black);
  padding: var(--space-5);
}

.logo {
  width: 320px;
  display: flex;
  gap: var(--space-5);

  h1 {
    color: var(--white);
    font-size: var(--font-3xl);
  }
}

.toggleSidebar {
  background-color: transparent;
}

.profile {
  border-radius: var(--rounded-full);

  img {
    border-radius: inherit;
  }
}
