.sidebar {
  width: 20rem;
  position: fixed;
  top: 75px;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: var(--space-5) 0;
  border-right: 1px solid var(--gray-100);
  transition: left 400ms ease-in;
}

.isHidden {
  left: -20rem;
}

.mainMenu {
  width: 100%;
  padding-right: var(--space-5);
  padding-left: var(--space-5);
}

.navItem {
  list-style: none;
  margin-bottom: var(--space-2);

  ul {
    padding-left: var(--space-6);

    .navItem {
      margin-top: var(--space-1);
    }
  }
}

.navLink {
  display: flex;
  align-items: center;
  color: var(--blue-800);
  font-size: var(--font-sm);
  font-weight: bold;
  padding: var(--space-4) var(--space-6);
  transition: all 400ms ease-in;
  border-radius: var(--rounded-sm);

  &[data-active='true'] {
    background-color: var(--blue-200);
    color: var(--blue-500);
  }

  &:hover:not([data-active='true']) {
    background-color: var(--blue-100);
  }
}
