.inputGroup {
  display: grid;
  gap: var(--space-2);
}

.inputLabel {
  font-size: var(--font-sm);
  font-weight: var(--font-bold);
  line-height: 1;
}

.inputControl,
.selectControl {
  height: 43px;
  background-color: var(--white);
  color: var(--blue-800);
  font-size: var(--font-sm);
  font-weight: var(--font-bold);
  padding: var(--space-3) var(--space-6);
  border: 1px solid var(--blue-200);
  border-radius: var(--rounded-sm);
  transition: outline-color 400ms ease-in;

  &[type='file'] {
    height: auto;
    padding: 0;
    border: none;
    border-radius: 0;
  }
}

.inputError {
  color: var(--red-500);
  font-size: var(--font-sm);
  padding: var(--space-1) var(--space-6);
}
