.card {
  display: grid;
  background-color: var(--white);
  padding: var(--space-5);
  border: 1px solid var(--blue-200);
  border-radius: var(--rounded-lg);
}

.cardAvatar {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);

  img {
    border-radius: var(--rounded-sm);
  }

  p {
    display: flex;
    justify-content: space-between;
    gap: var(--space-5);

    b {
      flex-shrink: 0;
    }

    span {
      font-size: var(--font-sm);
      text-align: right;
    }
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);

  h3 {
    font-size: var(--font-2xl);
    margin-top: var(--space-8);
    margin-bottom: var(--space-4);
  }

  p {
    display: flex;
    justify-content: space-between;
    gap: var(--space-5);

    b {
      flex-shrink: 0;
    }

    span {
      font-size: var(--font-sm);
      text-align: right;
    }
  }
}

.cardFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  grid-column: 1 / -1;
  margin-top: var(--space-5);
  padding-top: var(--space-5);
  border-top: 1px solid var(--blue-200);

  button {
    height: 50px;
    flex-grow: 1;
  }
}

.cardMetadata__email {
  word-break: break-all;
}

@media (min-width: 40rem) {
  .card {
    grid-template-columns: 40% 60%;
  }

  .cardAvatar {
    padding-right: var(--space-5);
    border-right: 1px solid var(--blue-200);
  }

  .cardInfo {
    padding-left: var(--space-5);

    h3 {
      margin-top: var(--space-4);
      margin-bottom: var(--space-8);
    }
  }

  .cardFooter {
    justify-content: end;

    button {
      flex-grow: 0;
    }
  }
}
